<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de Tareas</title>
    <link rel="stylesheet" href="estiloCK.css"> 
    <link rel="stylesheet" href="stylee2.css">
</head>
<body>
    <script src="script.js"></script>
    <nav class="nav-menu">
        <ul class="menu">
            <li><a href="index.html">inicio</a></li>
            <li><a href="#" onclick="mostrarSeccion('seccion1')">Cheques</a></li>
            <li class="has-dropdown">
                <a href="#">Operaciones Cks</a>
                <ul class="menu-item">
                    <li><a href="#" onclick="mostrarSeccion('seccion2')">Anulacion</a></li>
                    <li><a href="#" onclick="mostrarSeccion('seccion3')">Sacar de Circulacion</a></li>
                </ul>
            </li>
            <li><a href="#" onclick="mostrarSeccion('seccion4')">Otras transacciones</a></li>
            <li><a href="#">Conciliación</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Mantenimiento</a></li>
        </ul>
    </nav>

    <section id="seccion1">
        <div class="containeruno">
            <div class="section">
                <h2>Crea cheque</h2>
                <form>
                    <label for="numero">No. de Cheque:</label>
                    <input type="number" id="numero" name="numero" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
                    
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required>
                    
                    <label for="beneficiario">Paguese a la orden de:</label>
                    <select type="text" id="beneficiario" name="beneficiario" required>
                        <?php 
                            $sql="SELECT * from " ;
                            $result=mysql_query();
                        ?>
                    </select>
                    
                    <label for="cantidad">La suma de:</label>
                    <input type="number" id="cantidad" name="cantidad" required oninput="convertirCantidadALetras()">
                    <br>
                    <label for="cantidadLetras">Cantidad en letras:</label>
                    <input type="text" id="cantidadLetras" readonly>
                    
                    <label for="detalle">Detalle:</label>
                    <input type="text" id="detalle" name="detalle" required>
                    
                    <button type="submit">Grabar</button>
                    <button type="submit">Imprimir</button>
                </form>
            </div>
            <div class="section">
                <h3>Objetos de Gastos</h3>
                <form>
                    <label for="objeto">Objeto:</label>
                    <input type="text" id="objeto" name="objeto" required>
                    
                    <label for="monto">Monto:</label>
                    <input type="number" id="monto" name="monto" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
                    
                    <button type="submit">Nuevo</button>
                </form>
            </div>
        </div>
    </section>

    <section id="seccion2">
        <div class="containerdos">
            <div class="section2">
                <h2>Anulación de Cheques</h2>
                <form>
                    <label for="noCheque">No. Cheque:</label>
                    <input type="text" id="noCheque" name="noCheque" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
                
                    <button type="button">Buscar</button>
                
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha">
                
                    <label for="paguese">Paguese a la Orden de:</label>
                    <select type="text" id="paguese" name="paguese">
                    </select>
                
                    <label for="suma">La suma de:</label>
                    <input type="text" id="suma" name="suma" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
                
                    <label for="descripcion">Descripción de Gasto:</label>
                    <input type="text" id="descripcion" name="descripcion">
                </form>
            </div>
            
            <div class="section2">
                <form>
                    <label for="fechaAnulacion">Fecha de Anulación:</label>
                    <input type="date" id="fechaAnulacion" name="fechaAnulacion">
                
                    <label for="detalleAnulacion">Detalle de Anulación:</label>
                    <textarea id="detalleAnulacion" name="detalleAnulacion"></textarea>
                
                    <button type="submit">Anular</button>
                </form>
            </div>
        </div>
    </section>
    
    <section id="seccion3">
        <div class="containertres">
            <div class="section3">
                <h2>SACAR DE CIRCULACIÓN</h2>
                <form>
                    <label for="noCheque">No.Cheque:</label>
                    <input type="text" id="noCheque" name="noCheque" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
    
                    <button type="button">Buscar</button>
    
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" autocomplete="off" readonly>
    
                    <label for="paguese"> Paguese a la Orden de:</label autocomplete="off">
                    <select type="text" id="paguese" name="paguese" readonly>
    
                    </select>
                
                    <label for="suma">La suma de:</label>
                    <input type="text" id="suma" name="suma" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio">
                
                    <label for="descripcion">Descripción de Gasto:</label>
                    <input type="text" id="descripcion" name="descripcion" autocomplete="off" readonly>
                </form>
            </div>
    
            <div class="section3">
                <form>
                    <label for="fechaAnulacion">Fecha/Banco</label>
                    <input type="date" id="fechaAnulacion" name="fechaAnulacion" autocomplete="off">
                
                    <button type="submit">Sacar de circulacion</button>
                </form>
            </div>
        </div>
    </section>

    <section id="seccion4">
        <div class="containercuatro">
            <div class="section4">
                <h3>Otras transacciones - Depósitos, Ajustes, Notas (Db/Cr)</h3>
                <form>
                    <label>Transacción</label>
                    <input type="text">
    
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" required>
    
                    <label for="monto">Monto:</label>
                    <input type="text" id="monto" name="monto" required onkeypress="return solonumeros(event)" autocomplete="off" placeholder="Campo obligatorio" >
    
                    <br><br>
                    <button type="submit">Grabar</button>
                    <button type="submit">Nuevo</button>
                </form>
            </div>
        </div>
    </section>
    <section id="seccion5">
      <div class="containercinco">
      <div class="section5">
        <h3> conciliacion bancaria</h3>
        <h1>Conciliación Bancaria</h1>



<mat-card class="card sombra">
  <form class="form-Conciliacion" [formGroup]="ConciliacionBancaria" (ngSubmit)="onSaveForm()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>SRP Tecnology</mat-label>
      <input matInput disabled value="SRP Tecnology">
    </mat-form-field>
    <div class="flexbox-container">
      <div>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cuenta Bancaria</mat-label>
            <mat-select matInput class="datos" name="cuentaBancaria" formControlName="CuentaBancaria">
              <mat-option *ngFor="let account of listaCuenta" [value]="account.id_cuenta">{{account.nombre_cuenta}}
              </mat-option>
            </mat-select>
            <div class="alert-danger"
              *ngIf="CuentaBancaria.invalid && (CuentaBancaria.dirty || CuentaBancaria.touched)">
              <div class="container-error-message" *ngIf="CuentaBancaria.errors?.required">
                Cuenta Bancaria requerida.
              </div>

            </div>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Actual</mat-label>
            <input matInput type="text" formControlName="fechaActual">
          </mat-form-field>
        </p>
      </div>
      <div>
        <h2>Saldo En Extracto Bancario</h2>
        <p>
          <mat-form-field class="example-full-width1" appearance="fill">
            <mat-label>Saldo En Extracto Bancario</mat-label>
            <textarea matInput formControlName="extrato"></textarea>
            <div class="alert-danger" *ngIf="extrato.invalid && (extrato.dirty || extrato.touched)">
              <div class="container-error-message" *ngIf="extrato.errors?.required">
                Saldo en extracto bancario requerida.
              </div>
              <div class="container-error-message"
                *ngIf="(extrato.dirty || extrato.touched) && extrato.invalid && extrato.errors?.pattern">
                Ingrese un formato válido.
              </div>
            </div>
          </mat-form-field>
        </p>
      </div>
    </div>
  </form>
</mat-card>


<mat-card class="card sombra">

  <form class="example-form-Ecuacion" [formGroup]="panel2">
    <div class="container">
      <div>
        <h3>Saldo Última Conciliación</h3>
        <p>
          <mat-form-field class="example-full-width11" appearance="fill">
            <mat-label>Saldo Ultima Conciliación</mat-label>
            <textarea matInput disabled formControlName='ultimaConciliacion'></textarea>
          </mat-form-field>
        </p>
      </div>
      <div class="example-tab-icon">
        <mat-icon><img src="https://www.svgrepo.com/show/15392/plus.svg"></mat-icon>
      </div>
      <div>
        <h3>Ingresos</h3>
        <p>
          <mat-form-field class="example-full-width11" appearance="fill">
            <mat-label>Ingreso</mat-label>
            <textarea matInput type="text" [disabled]="true" formControlName="ingreso"></textarea>
          </mat-form-field>
        </p>
      </div>
      <div>
        <mat-icon class="example-tab-icon"><img src="https://www.svgrepo.com/show/264899/minus.svg"></mat-icon>
      </div>
      <div>

        <h3>Egresos</h3>
        <p>

          <mat-form-field class="example-full-width11" appearance="fill">
            <mat-label>Egresos</mat-label>
            <textarea matInput disabled formControlName="gasto"></textarea>
          </mat-form-field>
        </p>
      </div>

    </div>
    <div class="container22">

      <div>
        <h3>Saldo Final</h3>
        <p>
          <mat-form-field class="example-full-width11" appearance="fill">
            <mat-label>Saldo Final</mat-label>
            <textarea matInput disabled formControlName="saldoFinal"></textarea>
          </mat-form-field>
        </p>
      </div>
      <div>
        <h3>Diferencia Con Extracto</h3>
        <p>
          <mat-form-field class="example-full-width11" appearance="fill">
            <mat-label>Diferencia Con Extracto</mat-label>
            <textarea matInput disabled formControlName="diferencia"></textarea>
          </mat-form-field>
        </p>
      </div>
    </div>
  </form>
</mat-card>

<form [formGroup]="panel3">
  <mat-card class="card sombra">
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id_movim">
        <mat-header-cell *matHeaderCellDef> Número </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id_movim}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="fecha_movim">
        <mat-header-cell *matHeaderCellDef> Fecha Creación </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.fecha_movim}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="id_tipo_mov">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{tipo(element.id_tipo_mov)}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="total_movim">
        <mat-header-cell *matHeaderCellDef> Monto </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.total_movim | currency: ' COP '}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef style="text-align: center;">Conciliar</mat-header-cell>
        <mat-cell *matCellDef="let element" style="text-align: center;">
          <button (click)="conciliarMov(element, $event)">Conciliar</button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
</form>
<mat-card class="enviar sombra">

  <a href="http://localhost:4200/admin"><input class="boton1" type="button" value="Volver al Menú"> </a>
  <input class="boton1" type="submit" value="Conciliar" (click)="conciliar()">

</mat-card>
      </div>
      </div>
    </section>

</body>
</html>
